* {
    margin: 0;
    padding: 0;
}

// PARA CORRER NODE
// npm run watch-css

/* ----- REUTILIZABLES ------ */

.borde {
    border: 2px solid black;
    color: red;
}

.img-discografia img {
    width: 300px;
}


section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section p a {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

article p {
    background-color: black;
    text-align: center;
    color: rgb(255, 255, 255);

}

/* ----- CONTACTO ----- */
.contacto form {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.contacto h1 {
    text-align: center;
    margin: 10px;
}


body {
    background-color: rgb(125, 125, 201);
}

/* ----- FOTOS ----- */

.imagen1 {
    background-image: url('../resources/img1.jpeg');
}

.imagen2 {
    background-image: url('../resources/img2.webp');
}

.imagen3 {
    background-image: url('../resources/img3.webp');
}

.imagen4 {
    background-image: url('../resources/img4.jpg');
}

.imagen5 {
    background-image: url('../resources/img5.jpg');
}

.imagen6 {
    background-image: url('../resources/img6.jpg');
}

.imagen7 {
    background-image: url('../resources/img7.jpg');
}

.imagen8 {
    background-image: url('../resources/img8.jpg');
}

.imagen9 {
    background-image: url('../resources/img9.jpg');
}

.imagen10 {
    background-image: url('../resources/img10.webp');
}


.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;

    border: solid 2px rgb(0, 0, 0);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 15px;

    
}

.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    grid-auto-flow: dense;
}


@media (min-width: 600px) {
    .ancho {
      grid-column: span 2;
    }
  
    .alto {
      grid-row: span 2;
    }
  }


/* ----- BIOGRAFIA ----- */

.biografia-main{
    text-align: center;
}

.biografia-main p {
    font-family: Arial, Helvetica, sans-serif;
}

.biografia-main img {
    width: 200px;
    margin-bottom: 20px;
}

/* ----- NOTICIAS ----- */

.back-color {
    background-color: #bcbcf0;
    text-align: center;
}

h1 {
    color: rgb(0, 0, 0);
    /* background-color: rgb(255, 0, 0); */
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    text-align: center;
}

h2 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

.main-index{
    text-align: center;
}

/* footer */

footer {
    background-color: #000000;
    padding: 0;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;
}

footer p {
    line-height: 60px; 
}

main {
    margin-bottom: 60px; /* Ajusta el valor para dejar espacio para el footer */
}

.main-index section{
    padding: 10px;
}
