.biografia-main {
    text-align: center;

    p {
        font-family: $fuente-biografia;
        text-align: left;
        padding: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }

    img {
        width: 200px;
        margin-bottom: 20px;
    }

    h3 {
        font-family: $fuente-subtitulo;
    }
}