/* ----- FOTOS ----- */

.imagen1 {
    background-image: url('../resources/img1.jpeg');
}

.imagen2 {
    background-image: url('../resources/img2.webp');
}

.imagen3 {
    background-image: url('../resources/img3.webp');
}

.imagen4 {
    background-image: url('../resources/img4.jpg');
}

.imagen5 {
    background-image: url('../resources/img5.jpg');
}

.imagen6 {
    background-image: url('../resources/img6.jpg');
}

.imagen7 {
    background-image: url('../resources/img7.jpg');
}

.imagen8 {
    background-image: url('../resources/img8.jpg');
}

.imagen9 {
    background-image: url('../resources/img9.jpg');
}

.imagen10 {
    background-image: url('../resources/img10.webp');
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    border: solid 2px rgb(0, 0, 0);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 15px;

    &:hover {
        filter: opacity(0.9);
        transform: scale(1.04);
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    grid-auto-flow: dense;

    @media (min-width: 600px) {
        .ancho {
            grid-column: span 2;
        }

        .alto {
            grid-row: span 2;
        }
    }
}