// Colores

$violeta: #7d7dc9;

// Fuentes

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$fuente-titulo: "Bebas Neue", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
$fuente-biografia: "Libre Baskerville", serif;

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
$fuente-subtitulo: "Archivo Black", sans-serif;
